script(src="/socket.io/socket.io.js")
script(src="/lib/jquery-1.7.2.min.js")
script(src="/lib/bootstrap/js/bootstrap.min.js")
script(src="/lib/sketch.min.js")
script(src="/javascripts/game-gui.js")

.container
  .navbar
    .navbar-inner
      .container
        h1 I've drawn...
  div(id="drawing_notice")
    h2 You are drawing
  .row
    .span8(class='drawing')
      h2 Drawing zone
      hr
      canvas(id='drawing_zone', height='350px', width='590px')
    .span3(class='answers')
      h2 Answer list
      hr
      #answer_list
  .row
    span6(class='offset2', id="attempt_response_block")
      input(type='text', id="response_attempt_input")
      #send_response_attempt(class="btn") Try to answer

.modal(id="usernameModal", class='fade')
  .modal-header
    h1 Wanna join the game?
  .modal-body
    input(type='text', id="username_input", placeholder="Type your name here")
  .modal-footer
    #set_username(class='btn') Join

.modal(id="newGameModal", class='fade')
  .modal-header
    h1 New game starting
  .modal-body
    div(id='newGameDescription')
  .modal-footer
    #closeNewGameModal(class='btn') Close

script
  $( function () {
    restartGame();
    showAskForUserDialog();
    bindGUI();
  });

a(href="https://github.com/rafadc/ivedrawn")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", alt="Fork me on GitHub")