script(src="/socket.io/socket.io.js")
script(src="/lib/jquery-1.7.2.min.js")
script(src="/lib/bootstrap/js/bootstrap.min.js")
script(src="/lib/sketch.min.js")
script(src="/javascripts/game-gui.js")

.container
  .row
    h1 I've drawn...
  .row(id="drawing_notice")
    h2 You are drawing
  .row
    .span8
      h2 Drawing zone
      canvas(id='drawing_zone')
    .span4
      h2 Answer list
      #answer_list
  .row(id="attempt_response_block")
    .form
      input(type='text', id="response_attempt_input")
      #send_response_attempt(class="btn") Try to answer

.modal(id="usernameModal", class='fade')
  .modal-header
    h1 Wanna join the game?
  .modal-body
    input(type='text', id="username_input")
  .modal-footer
    #set_username(class='btn') Join

.modal(id="newGameModal", class='fade')
  .modal-header
    h1 New game starting
  .modal-body
    div(id='newGameDescription')
  .modal-footer
    #closeNewGameModal(class='btn') Close

script
  $( function () {
    restartGame();
    showAskForUserDialog();
    bindGUI();
  });
