doctype 5
html(lang="en)
  head
    title Guess the draw
    link(rel='stylesheet', href= '/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href= '/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700,300', rel='stylesheet', type='text/css')

  body!= body
